body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-image: url('/home/guilherme/Downloads/marx.jpg');
    background-size: cover;
    color: #red;
    padding: 20px;
    
}

background-image{
  
   opacity: 0.5;   
  
}

main {
    padding: 20px;
}

h1{
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #4A90E2;
    font-weight: bold;
}

.book-details img {
    width: 200px;
    height: auto;
    margin: 20px 0;
}

.download-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4A90E2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #357ABD;
}

